@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Martel+Sans:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.main {
  background-image: url(Resources/Imgs/IN-en-20231120-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  height: 43rem;
  background-position: center 70%;
  background-size: max(125vw, 1275px);
  position: relative;
  background-repeat: no-repeat;
  filter: contrast(1.1);
}
.main .box-black-gradient-ov {
  height: 43rem;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 30%,
    rgba(48, 48, 48, 0.8) 60%,
    black 100%
  );
  opacity: 0.76;
  top: 0;
}
/* top nav */
nav {
  /* height: 70px; */
  max-width: 62vw;
  display: flex;
  flex-direction: row;
  /* border: 4px solid red; */
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 0px;
  position: relative;
  z-index: 10;
}
.logo img {
  /* background-color: red;
    color: red; */
  position: relative;
  z-index: 2;
  height: 40px;
  width: 100%;
  /* border: 2px solid gray; */
}

nav > .right {
  /* border: 1px solid wheat; */
  font-family: "Fira Sans", sans-serif;
}
select {
  height: 100%;
  padding: 0.4rem;
  width: 8rem;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.301);
}
nav .right button {
  margin-left: 15px;
  padding: 0.4rem;
  width: 5rem;
  background-color: rgb(231, 3, 3);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}
/* miidle part of main */
.main .hero {
  /* border: 5px solid rgb(112, 255, 112 ); */
  width: 100%;
  text-align: center;
  margin: auto;
  max-width: 66vw;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: auto;
  position: relative;
  z-index: 3;
  padding-top: 160px;
}

.main .hero span {
  color: white;
  display: block;
}

.hero span:nth-of-type(1) {
  font-family: "Fira Sans", sans-serif;
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  line-height: 70px;
}
.hero span:nth-of-type(2) {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  /* font-family: 'Martel Sans', sans-serif; */
  margin-top: 1rem;
}
.hero span:nth-of-type(3) {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  /* font-family: 'Martel Sans', sans-serif; */
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.email {
  margin: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3.5rem;
  /* border: 1px solid rgb(112, 255, 112 ); */
  padding: 0px;
  gap: 8px;
  width: 100%;
}
.email input {
  width: 370px;
  background-color: rgba(32, 32, 32, 0.4);
  padding: 20px;
  border: 1px solid red;
  /* outline: none; */
  color: white;
  border-radius: 5px;
}
.email input::placeholder {
  color: rgb(170, 170, 170);
  font-size: 1rem;
}
.email button {
  background-color: rgb(231, 3, 3);
  color: white;
  font-weight: 600;
  width: 210px;
  font-size: 1.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  letter-spacing: 0.7px;
}
.email button:hover {
  background-color: rgb(194, 13, 13);
  transition-duration: 0.3s;
}
.line {
  height: 8px;
  background-color: rgb(46, 46, 46);
  position: relative;
}
.cards > .first,
.second,
.third,
.fourth {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
  max-width: 65vw;
  margin: auto;
  position: relative;
}
.visual {
  /* border:1px solid yellow; */
}
.visual video {
  position: absolute;
  z-index: 1;
  top: 8vw;
  right: 28px;
}
.visual img {
  position: relative;
  z-index: 2;
  width: 30vw;
  overflow: hidden;
}
.third .visual video {
  max-width: 19vw;
  position: absolute;
  right: 6vw;
  top: 6vw;
}
.cards .card .content span:nth-of-type(1) {
  font-family: "Fira Sans", sans-serif;
  font-family: "Martel Sans", sans-serif;
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 5rem;
}


.cards .card .content span:nth-of-type(2) {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.faq-set {
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}
.faq-set > span {
  color: white;
  font-size: 3rem;
  font-family: "Fira Sans", sans-serif;
  font-family: "Martel Sans", sans-serif;
  letter-spacing: -2px;
  /* border: 1px solid yellow; */
  margin-top: 4rem;
  margin-bottom: 0rem;
}
.faq-set .faq-box {
  background-color: rgb(45, 45, 45);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 10px;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  transition: all 300ms;
  cursor: pointer;
}
.faq-set .faq-box:hover {
  background-color: rgb(65, 65, 65);
}
/* .faq-set .faq-box > svg{
    
  }    */
.membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto 60px auto;
}
.member-text {
  font-family: "Fira Sans", sans-serif;
  color: white;
  font-size: 1.25rem;
}
footer {
  width: 60vw;
  /* border: 1px solid yellow; */
  margin: 70px auto 70px auto;
  color: rgb(187, 187, 187);
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.footer-top-text {
  display: inline-block;
}
.footer-top-text a {
  color: rgb(187, 187, 187);
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-content-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0px 20px 0;
}
.footer-content-box a {
  color: rgb(187, 187, 187);
}
@media screen and (max-width: 1280px) {
  nav {
    max-width: 95vw;
  }
}
@media screen and (max-width: 1280px) {
.cards > .first,
.second,
.third,
.fourth {
  max-width: 90vw;
}
.visual img {
  position: relative;
  z-index: 2;
  width: 50vw;
}
.visual video {
  position: absolute;
  z-index: 1;
  top: 7vw;
  right: 79px;
}
.third .visual video {
  max-width: 32vw;
  position: absolute;
  right: 10vw;
  top: 4vw;
}
.faq-set {
  /* border: 1px solid greenyellow; */
  display: flex;
 
}
}


@media screen and (max-width: 890px) {
  .visual video {
    position: absolute;
    z-index: 1;
    top: 30vw;
    right: 144px;
    max-width: 52vw;
}
  .visual img {
    position: relative;
    z-index: 2;
    width: 70vw;
}
.third .visual video {
  max-width: 42vw;
  position: absolute;
  right: 22vw;
  top: 26vw;
}
  .cards .card .content span:nth-of-type(1) {
    font-family: "Fira Sans", sans-serif;
    font-family: "Martel Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: -3px;
  line-height: 5rem;
}
.cards .card .content span:nth-of-type(2) {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.faq-set {
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}
.faq-set .faq-box {
  background-color: rgb(45, 45, 45);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.1rem;
  transition: all 300ms;
  cursor: pointer;
}
.faq-set > span {
  font-size: 2rem;
}
.cards .card .content span:nth-of-type(1) {
  font-family: "Fira Sans", sans-serif;
  font-family: "Martel Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 0px;
  line-height: 5rem;
}
.content{
  text-align: center;
}
.cards > .first,
.second,
.third,
.fourth {
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 85vh;
max-width: 85vw;
margin: auto;
position: relative;
gap:5vw;
}
.second, .fourth{
  flex-direction: column-reverse;
}
nav {
  max-width: 92vw;
  padding-top: 30px;
}
.logo img {
  height: 23px;
  /* border: 2px solid gray; */
}
.main {
  height: 35rem;

}
.main .box-black-gradient-ov {
  height: 36rem;
}
main .hero {
  /* border: 5px solid rgb(112, 255, 112 ); */
  max-width: 93vw;

}
.main .hero {
  /* border: 5px solid rgb(112, 255, 112 ); */
  width: 100%;
  text-align: center;
  margin: auto;
  max-width: 92vw;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: auto;
  position: relative;
  z-index: 3;
  padding-top: 121px;
}
.hero span:nth-of-type(1) {
  font-family: "Fira Sans", sans-serif;
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  line-height: 46px;
}
.hero span:nth-of-type(2) {
  font-size: 1.3rem;
}
footer {
  width: 90vw;
  /* border: 1px solid yellow; */
  margin: 29px 95px 70px 34px;
  color: rgb(187, 187, 187);
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-content-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 12px 0px 2px 0;
}
.footer-top-text {
  display: inline-block;
  margin-bottom: 15px;
}
/* select {
  margin-top: 15px;
} */
}
@media screen and (max-width: 412px) {
.membership{
  max-width: 90vw;
}
nav {
  /* height: 70px; */
  max-width: 90vw;
  margin-top:0px ;
  display: flex;
  flex-direction: row;
  /* border: 4px solid red; */
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 10;
  height: 10vh;;
}
  select {
  margin-top: 0px;
}
.main .hero {
  /* border: 5px solid rgb(112, 255, 112 ); */
  width: 100%;
  text-align: center;
  margin: auto;
  max-width: 92vw;
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: auto;
  position: relative;
  z-index: 3;
  padding-top: 60px;
  align-items: center;
}
.hero span:nth-of-type(1) {
  font-family: "Fira Sans", sans-serif;
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  line-height: 40px;
}
.hero span:nth-of-type(2) {
  font-size: 1.2rem;
  font-weight: 300;
}
.hero span:nth-of-type(3) {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  /* font-family: 'Martel Sans', sans-serif; */
  font-weight: 300;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  padding: 0 10px 0 10px;
}
.email {
  margin: 1.3rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7rem;
  /* border: 1px solid rgb(112, 255, 112 ); */
  padding: 0px;
  gap: 15px;
  width: 85%;
  align-items: center;
  /* border:1px solid greenyellow */
}
.email button {
  background-color: rgb(231, 3, 3);
  color: white;
  font-weight: 600;
  width: 150px;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  letter-spacing: 0.7px;
  min-height: 3rem;
}
.email input {
width: 100%;
  min-height: 3rem;
}
/* Boxes */
.cards > .first, .second, .third, .fourth {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  max-width: 90vw;
  margin: auto;
  position: relative;
  gap: 5vw;
}
.visual img {
  position: relative;
  z-index: -1;
  width: 86vw;
}
.cards > .second, .fourth{
  color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-width: 90vw;
    margin: auto;
    position: relative;
    gap: 5vw;
}
.cards .card .content span:nth-of-type(1) {
  font-family: "Fira Sans", sans-serif;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 0px;
  line-height: 3rem;
  display: block;
  width: 100%;
}
.visual video {
  position: absolute;
  z-index: -2;
  top: 66vw;
  right: 49px;
  max-width: 65vw;
}
.third .visual video {
  max-width: 53vw;
  position: absolute;
  right: 19vw;
  top: 59vw;
}

/* footer */
.faq-set .faq-box {
  font-size: 1.2rem;
}
.faq-set > span {
  font-size: 1.9rem;
  text-align: center;
  letter-spacing: .1px;
}
.member-text {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}
/* select {
  margin-top: 15px;
} */
}
